<% if signed_in? %>
    <div class="row">
        <div class="span12">
            <h4>Papers to review</h3>
            <% @papers.each do |p| %>
                <%= link_to p.title, p %>
            <% end %>
        </div>
        <div class="span12">
            <h4>Papers you might like</h3>
            <% @papers.each do |p| %>
                <%= link_to p.title, p %>
            <% end %>
        </div>
    </div>
<% else %>
<div class="center hero-unit">
	<h1>Welcome to TransPub</h1>
	
	<h2>
		Lorem ipsum dolor sit amet, 
		<a href="#">consectetur adipiscing elit.</a>
		Morbi elementum vestibulum mi quis bibendum.
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row">
    <div class="span4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum vestibulum mi quis bibendum. Nulla facilisi. Cras bibendum mi in dignissim vestibulum. Donec lobortis, massa eu faucibus congue, tortor lectus placerat metus, et facilisis ante nibh nec ligula. Proin id nunc ut purus egestas ultrices. Praesent ullamcorper libero vel sem ullamcorper accumsan. Donec condimentum, ligula vitae adipiscing tristique, lectus ipsum vehicula nulla, et tristique nunc dui non risus. Nulla lobortis velit at ipsum adipiscing elementum. Vivamus ac consequat eros, sit amet tristique quam.
    </div>
    <div class="span4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum vestibulum mi quis bibendum. Nulla facilisi. Cras bibendum mi in dignissim vestibulum. Donec lobortis, massa eu faucibus congue, tortor lectus placerat metus, et facilisis ante nibh nec ligula. Proin id nunc ut purus egestas ultrices. Praesent ullamcorper libero vel sem ullamcorper accumsan. Donec condimentum, ligula vitae adipiscing tristique, lectus ipsum vehicula nulla, et tristique nunc dui non risus. Nulla lobortis velit at ipsum adipiscing elementum. Vivamus ac consequat eros, sit amet tristique quam.
    </div>
    <div class="span4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum vestibulum mi quis bibendum. Nulla facilisi. Cras bibendum mi in dignissim vestibulum. Donec lobortis, massa eu faucibus congue, tortor lectus placerat metus, et facilisis ante nibh nec ligula. Proin id nunc ut purus egestas ultrices. Praesent ullamcorper libero vel sem ullamcorper accumsan. Donec condimentum, ligula vitae adipiscing tristique, lectus ipsum vehicula nulla, et tristique nunc dui non risus. Nulla lobortis velit at ipsum adipiscing elementum. Vivamus ac consequat eros, sit amet tristique quam.
    </div>
</div>
        
<% end %>
