<div class="activities">
    <% if @notifications.any? %>
        <ul class="activity-list">
            <% @notifications.each do |activity| %>
                <% if activity.trackable %>
                    <li class="activity">
                        <%= render_activity activity %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    <% else %>
    No activities yet.
    <% end %>
</div>
