<% @user ||= current_user %>
<div class="stats">
    <h3>Stats</h3>
    <span class="span3">
        <%= pluralize @reviews.pluck(:review_status).count(0), 'paper' %> reviewing
    </span>
    <span class="span3">
        <%= pluralize @reviews.pluck(:review_status).count(1), "paper" %> reviewed
    </span>
    <span class="span3">
        <%= pluralize @papers.count, "paper" %> uploaded
    </span>
    <span class="span3">
        <%= pluralize @user.papers.where(state: "published").count, "paper" %> published
    </span>
</div>
