<% @user ||= current_user %>
<div class="stats row">
    <a class="span3" href="<%= #following_user_path(@user) 
    %>">
        <strong id="review" class="stat">0</strong>
        papers to review
    </a>
    <a class="span3" href="<%= #followers_user_path(@user) 
    %>">
        <strong id="reviewed" class="stat">0</strong>
        papers reviewed
    </a>
    <a class="span3" href="#">
        <strong id="uploaded">
            <%= papers_count = @user.papers.count %>
        </strong>
        papers uploaded
    </a>
    <a class="span3" href="#">
        <strong id="published">0</strong>
        papers published
    </a>
</div>
