<% @user ||= current_user %>
<div class="stats row">
    <a class="span3" href="<%= #following_user_path(@user) 
    %>">
        0 papers to review
    </a>
    <a class="span3" href="#">
        <%= pluralize @reviews.count, "paper" %> reviewed
    </a>
    <a class="span3" href="#">
        <%= pluralize @papers.count, "paper" %> uploaded
    </a>
    <a class="span3" href="#">
        0 papers published
    </a>
</div>
