<% provide(:title, "All Subjects")%>
<h1>All Subjects</h1>
<div class="row">
    <div class="span12 subjects">  
        <% @subjects.each do |subject| %>
            <li><%= subject.name %>
                <% if current_user.editor? %>
                    | <%= link_to "Edit", edit_subject_path(subject) %>
                    | <%= link_to "Delete", subject, method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
            </li>
        <% end %>
        </ul>
        <%= link_to "New subject...", new_subject_path %>
    </div>
</div>

