<% provide(:title, "Browse Papers")%>
<h1>Browse Papers</h1>
<div class="row-fluid">
    <div class="span12 browse-papers">
        <ol>
            <% @subjects.each do |subject| %>
            <li>
                <a href="#">
                    <%= subject.name %>
                </a>
                <ul>
                    <% subject.papers.each do |paper| %>
                    <li><%= link_to paper.title, paper %></li>
                    <% end %>
                </ul>
            </li>
            <% end %>
        </ol>
    </div>
</div>
