<% provide(:title, "User Activities")%>
<h1>User Activities</h1>
<div class="activities row-fluid">
    <div class="span4">
        <h4>Paper Activities</h4>
        <% if @paper_activities.any? %>
            <ul class="activity-list">
                <% @paper_activities.each do |activity| %>
                    <% if activity.trackable %>
                        <li class="activity">
                            <%= render_activity activity %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div class="span4">
        <h4>Review Activities</h4>
        <% if @review_activities.any? %>
        <ul class="activity-list">
            <% @review_activities.each do |activity| %>
                <% if activity.trackable %>
                    <li class="activity">
                        <%= render_activity activity %>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <% end %>
    </div>
    <div class="span4">
        <h4>Late Reviews</h4>
        <% if @late_reviews.any? %>
        <ul class="activity-list">
            <% @late_reviews.each do |review| %>
                <li class="activity">
                    A
                    <%= link_to "review", review %>
                    for
                    <%= link_to review.paper.title, review.paper %>
                    is overdue
                </li>
            <% end %>
        </ul>
        <% else %>
            <p><em>No late reviews found</em>
        <% end %>
    </div>
</div>
